@import "tailwindcss";

.active{
  color: red;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  color: #000;
}

.swiper {
  width: 100% !important;
  height: 300px !important;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 img {
  object-fit: contain !important;
}

.mySwiper img {
  object-fit: contain !important;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  margin-top: 5px !important;
  height: 20% !important;
  box-sizing: border-box;
  padding: 10px 0;
  width: 935px !important;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

